/* NAVBAR */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .video1{
        margin-top: 600px;
        color: white;
        position: absolute;
        height: 400px;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        float: left;
        margin-left: 3px;
        margin-bottom: 20px;
    }
}

.homeimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.centered {
    position: absolute;

    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("../images/eco.jpg");

    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    margin-bottom: 500px;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    object-fit: cover;
}

body{
    background-image: url("../images/eco.jpg");
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, "Arial Rounded MT Bold", serif;
}

.page-title{
    width: 100%;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.subtitel{
    margin-top: 40px;
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 60px;
    border-radius: 20px;
    padding: 10px;
}

.button-container{
    margin-top: 600px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

}

.button-explain{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    color: white;
    text-align: center;
    width: 100%;
}

.taskbutton1{
    width: 200px;
    text-align: center;
    background-color: orange;
    color: white;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding: 15px 25px;
    text-decoration: none;
}

.taskbutton1:hover{
    background-color: #04AA6D;
}

@media screen and (max-width: 650px) {
    .button-container {
        display: grid;
        margin-top: 850px;
    }

    .taskbutton2{
        margin-top: 20px;
        align-items: center;
        width: 200px;
        text-align: center;
        color: white;
        height: 60px;
        font-size: 20px;
        margin-left: 0;
    }

    .taskbutton3{
        margin-top: 20px;
        align-items: center;
        width: 200px;
        text-align: center;
        color: white;
        height: 60px;
        font-size: 20px;
        margin-left: 0;
    }
}

.opdracht-duurzaamheid{
    margin-top: 450px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    opacity: 80%;
    padding: 20px;
    border-radius: 20px;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #04AA6D;
    margin-top: 700px;
}

@media screen and (max-width: 650px) {
    footer{
        margin-top: 900px;
    }
}

@media screen and (max-width: 650px) {
    .opdracht-duurzaamheid{
        margin-top: 600px;
    }
}

.greenstuff-image{
    width: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    margin-top: 200px;
}

@media screen and (max-width: 650px) {
    .greenstuff-image{
        margin-top: 230px;
        width: 60%;
    }
}

.opdrachtvideo{
    margin-top: 300px;
    color: white;
    position: absolute;
    height: 400px;
    left: 50%;
    width: 49.4%;
    transform: translate(-50%, -50%);
    float: left;
    margin-left: 3px;

}

@media screen and (max-width: 650px) {
    .opdrachtvideo {
        width: 100%;
        height: 280px;
    }
}
